$boldFont: 'LeferiBaseBold', 'NotoSansB', sans-serif;
$regularFont: 'LeferiBaseRegular', 'NotoSansR', sans-serif;
$thinFont: 'NotoSansT', '맑은 고딕', sans-serif;

$atmoxColor: #21265d;
$katoColor: #f96305;

